{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <h1> Welcome to the Zupan's Recipe Index </h1>
    <p>
        I built this website for one simple reason: to get rid of all the binders full of all the sheets and sheets
        of recipe that sat on our cookbook bookshelf.  This site allows you to do two simple things.  First, you can
        upload your favorite recipes.  Second, you can search through these recipes based on keywords or cuisine type.
    </p>
    <p>
        Enjoy!
    </p>
</div>
{% endblock %}